@import "src/styles/scss";

.ourProcess {
    background-color: $headerBgColor;
    padding: 120px 0;

    div.ourProcessWrapper {
        //display: flex;
        //width: 100%;
        max-width: 1200px;
        margin: 0 auto;



        .intro {
            padding: 15px;
            font-family: 'Vollkorn', serif;
            text-transform: initial;
            //font-size: 1.8rem;
            line-height: 2.4rem;
            letter-spacing: .02rem;
            margin-bottom: 120px;
            text-align: center;

        }

        ul,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li * {
            color: #ffffff;
        }

        li {
            width: 50%;
            margin: 0 auto 60px auto;

            svg {
                display: inline-block;
                width: 75px;
                height: auto;
                vertical-align: middle;
                margin: 0 15px 0px -15px;
            }

            h3 {
                display: inline-block;
                text-align: left;
                margin-bottom: 60px;
            }

            p {
                position: relative;
                display: inline-block;
                text-align: left;
            }
        }

        li {

            ol,
            li {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: initial;
            }

            li {
                margin: 30px 0;

                h4 {
                    text-transform: unset;
                    margin-bottom: 0px;
                    //font-weight: 800;
                    font-size: 1.2rem;
                }

                p {
                    color: #a9a9a9;
                }
            }
        }
    }



    a {

        margin: 0 auto;
    }




}