@import "src/styles/scss";

a.listProjectItem {
    width: 100%;
    height: 100%;
    height: max-content;
    display: block;
    position: relative;
    height: max-content;
    z-index: 5;
    margin-bottom: 64px;
    transition: Y, .15s ease-out;



    div {

        border-radius: $globalBorderRadiusA;
        border-radius: 4px 4px 0px 0px;
        overflow: hidden;
        box-shadow: $globalBoxShadowB;
        transition: all .15s ease-in-out;
        border: 1px solid #ffffff;
        border-bottom: none;
        display: block;
        z-index: 5;

        img {
            transition: all 0.25s ease-out !important;

            @include respond-below(sm) {
                // padding: 15px 15px 0 15px;
            }
        }
    }

    span {
        position: relative;
        color: $txtColor;
        background-color: #ffffff;
        margin-top: -1px;
        z-index: 10;
        display: block;
        padding: 24px 8px;
        text-align: left;
        border-top: 4px solid $headerBgColor;

        span {
            //all: unset;
            border: none;
            padding: 0;

            h3 {
                font-weight: 600;
                margin: 0 0 0 0;
                font-size: .9rem;
                text-transform: uppercase;
                letter-spacing: .03rem;
                color: inherit;
            }

            p {
                padding: 0px;
                width: 100%;
                margin: 10px 0 0 0;
                font-size: .9rem;
                color: inherit;
            }
        }
    }
}

a.listProjectItem:hover {
    text-decoration: none !important;
    color: $primaryColor !important;
    transform: translateY(-2px) !important;

    div {
        box-shadow: $globalBoxShadowC;
    }

    h3 {
        text-decoration: underline;
    }

    img {
        transform: scale(1.033);
    }

    span {
        border-top: $primaryColor;
        color: $primaryColor;
        border-top: 4px solid $primaryColor;

        span {
            border: none;
            padding: 0;

            h3 {
                text-decoration: none;
            }
        }
    }
}