@import "src/styles/scss";

section.sectionProject {
    .prevNext {
        z-index: 100;
        transition: all .25s linear;
        position: sticky;
        padding: 20px 0 10px 0;
        background: #b4cae0;
        top: 50px;
        border-bottom: 1px solid #ffffff;

        div {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;

            @include respond-below(md) {
                width: 100%;
                position: relative;
                top: 0px;
            }

            a {
                color: $txtColor;

                span {
                    text-transform: uppercase;
                    font-size: .8rem;
                }

                svg {
                    display: inline-block;
                    width: 20px;
                    height: auto;
                    vertical-align: middle;
                    margin: -2px 10px 0 0;
                }
            }

            a.prev {}

            a.next {
                margin-left: auto;

                svg {
                    margin: -2px 0 0 10px;
                }
            }
        }
    }

    .sectionProjectWrapper {
        max-width: 1200px;
        margin: 100px auto;

        .content {
            padding: 0 15px;

            .header {

                h1 {
                    margin-bottom: 5px;
                }

                p {
                    line-height: 1.8rem;
                    margin-bottom: 15px;

                    a {

                        svg {
                            display: inline-block;
                            width: 25px;
                            height: auto;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .contentInner {

                .contentMD {
                    display: flex;
                    flex-direction: row;
                    align-self: flex-start;

                    @include respond-below(md) {
                        flex: none;
                        display: block;
                    }

                    div {
                        align-items: stretch;
                        align-self: flex-start;
                        flex: 1;
                        position: sticky;
                        top: 105px;
                        margin-right: 15px;
                        padding-top: 15px;

                        @include respond-below(md) {
                            position: relative;
                            top: 0;
                            width: 100%;
                            flex: none;
                            display: block;
                        }

                        >div {
                            overflow: hidden;
                            position: relative;
                            background-color: #ffffff;
                            //color: #3d4f61;
                            padding: 30px 30px;
                            top: auto;
                            border: 1px solid #e4e4e4;
                            line-height: 0px;
                            box-shadow: 0 0 5px 0 #5f5b5b14;
                            border-radius: $globalBorderRadiusA;
                            margin-bottom: 0px;

                            @include respond-below(md) {
                                margin-bottom: 15px;
                            }

                            p:first-of-type::before {
                                content: "\201C";
                                top: 15px;
                                left: -25px;
                            }

                            p:nth-last-of-type(2)::after {
                                content: "\201D";
                                bottom: 3px;
                            }


                            p:first-of-type::before,
                            p:nth-last-of-type(2)::after {
                                font-size: 2.7rem;
                                line-height: 0px;
                                position: absolute;
                                font-family: 'Spectral', serif;
                                color: #25324094;
                            }

                            p:first-of-type {
                                //text-indent: 30px;
                                margin: 0 25px;
                            }

                            p:first-of-type,
                            p:nth-last-of-type(2) {
                                //margin: 0 25px;
                                display: inline;
                                //line-height: 1.3rem;
                                position: relative;

                                //text-indent: 30px;
                            }

                            p {
                                margin: 15px 0 10px 0;
                                text-align: left;
                                font-size: .9rem;
                                font-family: 'Roboto', sans-serif;
                                line-height: 1.2rem;
                                color: #253240;

                            }

                            p:last-of-type {
                                font-weight: bold;
                                margin: 15px 0 0 0;
                            }
                        }
                    }

                    div+div {
                        width: auto;
                        flex: 2;
                        top: 0;
                        margin: 0;
                        border-top: none;
                        margin-top: 0;

                        @include respond-below(md) {
                            position: relative;
                            width: 100%;
                            flex: none;
                            display: block;
                        }

                        p {
                            border-radius: $globalBorderRadiusA;
                            overflow: hidden;
                            background-color: #ffffff;
                            border: 1px solid #ffffff;
                            box-shadow: 0 0 15px 0 #5f5b5b9e;
                            margin: 0 0 60px 0;

                            span {
                                border-radius: $globalBorderRadiusA;
                                display: block;
                                margin-bottom: 30px;
                                width: 100%;

                                img {
                                    display: block;
                                    position: relative;
                                    max-width: max-content !important;
                                    max-height: max-content !important;
                                }
                            }
                        }

                        p:last-of-type {
                            margin-bottom: 0;
                        }

                        p span:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}