@import "src/styles/scss";

section.sectionProject {
    .sectionProjectWrapper {
        max-width: 1200px;
        margin: 120px auto;

        .content {
            padding: 0 15px;

            .header {
                //width: 33%;

                // position: sticky;
                // top: 120px;
                h1 {
                    margin-bottom: 5px;
                }

                p {
                    line-height: 1.8rem;

                    a {
                        //margin-left: -30px;

                        svg {
                            display: inline-block;
                            width: 25px;
                            height: auto;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .contentInner {
                display: flex;
                flex-direction: row;
                align-self: flex-start;

                div {
                    align-items: stretch;
                    align-self: flex-start;
                    position: sticky;
                    flex: 1;
                    top: 120px;
                    margin-right: 15px;
                }

                div+div {

                    width: auto;

                    flex: 2;
                    top: 0;
                    margin: 0;



                    p {
                        border-radius: $globalBorderRadiusA;
                        padding: 30px;
                        background-color: #ffffff;
                        display: block;
                        box-shadow: $globalBoxShadowB;

                        margin: 0 0 60px 0;

                        span {





                            border-radius: $globalBorderRadiusA;
                            //overflow: hidden;
                            display: block;
                            margin-bottom: 30px;


                        }
                    }

                    p span:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}