@import "src/styles/scss";

.contactFormSection {
    background-color: $tertiaryColorC;

    background: rgb(120, 179, 184);
    background: linear-gradient(176deg, rgba(120, 179, 184, 1) 0%, rgba(150, 217, 223, 1) 100%);
    background: linear-gradient(176deg, rgba(150, 217, 223, 1) 0%, rgba(120, 179, 184, 1) 100%);

    padding: $globalSecionPadding;

    h2 {
        text-align: center;
        //color: #ffffff;
    }

    .contactFormWrapper,
    .contactSuccessWrapper {
        display: block;
        max-width: 800px;
        margin: 0 auto 0;
        border-radius: $globalBorderRadiusA;
        background-color: #ffffff;
        box-shadow: $globalBoxShadowA;



        .contactForm {
            display: block;
            padding: 2rem;
            //border-radius: 5px;

            svg {
                width: 90px;
                height: auto;
                display: block;
                margin: 0 auto 30px;
            }

            p {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: inherit;
                }
            }

            .contactFormInput {
                width: 100%;

                p {
                    display: flex;
                    //justify-content: center;

                    label {
                        width: 100%;
                    }

                    span {
                        display: inline-block;
                        margin-bottom: 0.375rem;
                        position: relative;
                    }

                    em {
                        position: relative;
                        display: block;
                        font-size: .9rem;
                        color: $tertiaryColor;
                        //font-style: normal;
                        font-weight: 500;
                        margin: 5px 0 0 35px;
                    }

                    em:before {
                        content: " ! ";
                        position: absolute;
                        font-weight: 700;
                        font-style: normal;
                        line-height: 1.3rem;
                        color: #ffffff;
                        background-color: $tertiaryColor;
                        box-shadow: $globalBoxShadowB;
                        border-radius: 50%;
                        padding: 1px 10px 0 10px;
                        margin: 0 0 0 -33px;
                    }

                    [type="text"],
                    textarea {
                        width: 100%;
                        border-radius: 2px;
                    }

                    input[name="name"] {
                        font-size: 1.5em;
                        font-weight: 500;
                    }

                }

                p:last-child {
                    margin-bottom: 0;
                    justify-content: center;
                }
            }
        }
    }

    .contactSuccessWrapper {
        background-color: transparent;
        box-shadow: none;
        text-align: center;

        .contactSuccess {
            svg {
                display: block;
                width: 200px;
                height: auto;
                margin: 120px auto 60px auto;
            }



            p {
                //color: #ffffff;
                font-size: 1.1rem;
                font-weight: 500;

                a,
                a:hover {
                    //display: block;
                    margin-top: 15px;
                    //color: #ffffff;
                    color: $txtColor;
                    text-decoration: none;


                    .contactIconPhone {
                        display: inline-block;
                        vertical-align: middle;
                        width: 42px;
                        height: auto;
                        margin: 0 15px 0 15px;
                    }
                }
            }
        }
    }
}