@import "src/styles/scss";

.contactFormSection,
.contactFormSectionSuccess {


    padding: $globalSecionPadding;

    background: rgb(194, 242, 247);
    background: linear-gradient(176deg, rgba(194, 242, 247, 1) 0%, rgba(150, 198, 202, 1) 100%);

    @include respond-below(md) {
        padding: 45px 15px 20px 15px;
    }

    h2 {
        text-align: center;
        //color: #ffffff;
    }

    .contactFormWrapper,
    .contactSuccessWrapper {
        display: block;
        max-width: 800px;
        margin: 45px auto 0;
        border-radius: $globalBorderRadiusA;
        background-color: #ffffff;
        box-shadow: $globalBoxShadowA;



        .contactForm {
            display: block;
            padding: 2rem;
            //border-radius: 5px;

            @include respond-below(sm) {

                padding: 2rem 30px;
            }

            svg {
                width: 90px;
                height: auto;
                display: block;
                margin: 0 auto 30px;
            }

            p {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: inherit;
                    color: $primaryColor;
                    white-space: nowrap;

                    .contactIconPhone {
                        display: inline-block;
                        vertical-align: middle;
                        width: 20px;
                        height: auto;
                        margin: 0px 0px 0 1px;
                    }
                }
            }

            .contactFormInput {
                width: 100%;

                p {
                    display: flex;
                    //justify-content: center;

                    label {
                        width: 100%;
                    }

                    span {
                        display: inline-block;
                        margin-bottom: 0.375rem;
                        position: relative;
                    }

                    em {
                        position: relative;
                        display: block;
                        font-size: .9rem;
                        color: $tertiaryColor;
                        //font-style: normal;
                        font-weight: 500;
                        margin: 5px 0 0 35px;
                    }

                    em:before {
                        content: " ! ";
                        position: absolute;
                        font-weight: 700;
                        font-style: normal;
                        line-height: 1.3rem;
                        color: #ffffff;
                        background-color: $tertiaryColor;
                        box-shadow: $globalBoxShadowB;
                        border-radius: 50%;
                        padding: 1px 10px 0 10px;
                        margin: 0 0 0 -33px;
                    }

                    [type="text"],
                    textarea {
                        width: 100%;
                        border-radius: 2px;
                    }

                    input[name="name"] {
                        font-size: 1.5em;
                        font-weight: 500;
                    }

                }

                p:last-child {
                    margin-bottom: 0;
                    justify-content: center;
                }
            }
        }
    }
}

.contactFormSectionSuccess {
    background: none;

    .contactSuccessWrapper {
        background-color: transparent;
        box-shadow: none;
        text-align: center;

        .contactSuccess {
            svg {
                display: block;
                width: 200px;
                height: auto;
                margin: 90px auto 60px auto;
            }



            p {
                //color: #ffffff;
                font-size: 1.0rem;
                font-weight: 500;
                line-height: 1.0rem;
                margin-bottom: 1rem;

                a {
                    color: $primaryColor;
                }

                a,
                a:hover {
                    //display: block;
                    display: inline-block;

                    margin: 15px 0;
                    //color: #ffffff;
                    color: $primaryColor;
                    text-decoration: none;
                    white-space: nowrap;

                    .contactIconPhone {
                        display: inline-block;
                        vertical-align: middle;
                        width: 32px;
                        height: auto;
                        margin: 0px 0px 0 0px;
                    }
                }
            }
        }
    }
}