@import "src/styles/scss";

section.sectionIntro {
    margin-top: -60px !important;
    background: rgb(65, 87, 111);
    background: linear-gradient(0deg, rgba(65, 87, 111, 1) 0%, rgba(37, 50, 64, 1) 100%);
    padding-bottom: 120px;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 500;
    //text-align: center;

    @include respond-below(lg) {
        padding-bottom: 0px;
        margin-top: 0px !important;
    }

    .intro {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        box-shadow: $globalBoxShadowA;
        overflow: hidden;
        border-radius: 3px;

        @include respond-below(lg) {
            border-radius: 0px;
        }

        >div {
            padding: 64px;
            width: 50%;
            display: flex;
            align-items: center;
            color: #000000;


            @include respond-below(md) {
                padding: 64px 32px;
            }

            @include respond-below(sm) {
                width: 100%;
            }

            span {
                align-items: center;

                h2,
                p,
                ul,
                li {
                    -webkit-margin-after: 0;
                }

                ul {
                    li {
                        list-style-type: square;
                        margin: 16px 0;
                        padding-left: 8px;
                    }
                }

                svg {
                    width: 33%;
                    height: auto;
                    display: block;
                    margin: 0px auto 30px auto;
                }

                a {
                    margin: 30px auto 15px auto;
                    color: #fffFFF !important;
                    background-color: $primaryColor;
                    transition: all, .15s ease-out;
                }

                a:hover {
                    transform: scale(1.075);
                }
            }
        }

        .part1 {
            background-color: $tertiaryColorA;
            // background: rgb(27, 171, 228);
            // background: linear-gradient(135deg, rgba(150, 216, 243, 1) 75%, rgba(255, 255, 255, 1) 100%);
        }

        .part2 {
            background-color: $primaryColorA;
            // background: rgb(228, 27, 91);
            // background: linear-gradient(225deg, rgba(224, 152, 175, 1) 75%, rgba(255, 255, 255, 1) 100%);
        }

        .part3 {
            background-color: $secondaryColorA;
            //background: rgb(235, 217, 86);
            // background: linear-gradient(45deg, rgba(243, 232, 150, 1) 75%, rgba(255, 255, 255, 1) 100%);
        }

        .part4 {
            background-color: $tertiaryAltColorA;
            //background: rgb(99, 213, 159);
            // background: linear-gradient(315deg, rgba(153, 223, 190, 1) 75%, rgba(255, 255, 255, 1) 100%);
        }
    }
}