@import "src/styles/scss";

.latestProjectsSection {
    background-color: #efeff0;
    background-color: #657688;
    background-color: #efeff0;
    background-color: #253240;

    // background: rgb(65, 87, 111);
    // background: radial-gradient(circle, rgba(65, 87, 111, 1) 0%, rgba(37, 50, 64, 1) 100%);

    background: rgb(212, 212, 212);
    background: linear-gradient(174deg, rgba(212, 212, 212, 1) 0%, rgba(239, 239, 240, 1) 83%);


    padding: $globalSecionPadding;

    @include respond-below(lg) {
        padding: 100px 0 5px 0;
    }

    h2 {
        text-align: center;
        //color: #ffffff;
    }

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto;

        p {
            width: 50%;
            color: #ffffff;
            margin: 30px auto;


        }


        ul {

            // display: grid;
            // padding: 0 15px;
            // grid-template-columns: repeat(2, [col] 1fr);
            // // grid-template-rows: repeat(5, [row] auto);
            // grid-column-gap: 30px;
            // grid-row-gap: 30px;

            display: flex;
            flex-wrap: wrap;
            /*  allow items to wrap  */
            justify-content: center;

            text-align: center;
            list-style: none;
            margin: 0;

            width: 100%;
            padding: 0px;

            @include respond-below(sm) {
                padding: 7.5px;
            }

        }

        ul li {
            flex-basis: calc(50% - 30px);

            @include respond-below(xs) {
                flex-basis: calc(100% - 15px);
            }

            margin: 15px;

            @include respond-below(sm) {
                margin: 7.5px;
            }

            vertical-align: top;
            border-radius: $globalBorderRadiusA;
            overflow: hidden;
            box-shadow: $globalBoxShadowB;
            background-color: #ffffff;
            //padding: 30px;

            img {
                display: block;

                width: auto;
                padding: 30px 30px 0 30px;

                @include respond-below(sm) {
                    padding: 15px 15px 0 15px;
                }



                margin: 0;
                border-radius: 0;
            }

            span {
                display: block;
                // background-color: rgb(239, 239, 240);

                //border: 1px solid #dededee6;
                //border: 1px solid #3c4650;
                //border-top: none;


                padding: 30px 15px 30px 15px;

                p {

                    color: $txtColor;
                    text-align: left;
                    padding: 0px;
                    width: 100%;
                    margin: 0 15px;
                }

                h4 {

                    font-weight: 600;
                    text-transform: uppercase;
                    //text-align: center;
                    letter-spacing: .03rem;
                    //font-family: 'Merriweather', serif;
                    //color: #ffffff;
                }

            }

        }

        li:hover {
            box-shadow: $globalBoxShadowA;
        }

    }
}