@import "src/styles/scss";

.latestProjectsSection {
    background-color: #ffffff;


    padding: $globalSectionPadding;

    @include respond-below(lg) {
        padding: 45px 0 5px 0;
    }

    h1,
    h2 {
        text-align: center;
        //color: #ffffff;
    }

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto;

        @include respond-below(lg) {
            padding: 0 15px 15px;
        }

        p {
            width: 50%;
            color: #ffffff;
            margin: 30px auto;

        }

        ul {
            display: grid;
            position: relative;
            grid-gap: 30px 60px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 0;
            list-style: none;
            margin: 0px;
            align-content: space-between;
            justify-content: space-around;

            @include respond-below(lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            // @include respond-below(md) {
            //     grid-template-columns: repeat(2, 1fr);
            // }

            @include respond-below(sm) {
                grid-template-columns: repeat(1, 1fr);
            }

            @include respond-below(xs) {
                grid-gap: 30px;
                // grid-template-columns: repeat(1, 1fr);
            }
        }


        ul li {
            // margin-bottom: 30px;
            display: block;
            position: relative;
            height: max-content;
            z-index: 5;
            width: 100%;

            a {
                color: $txtColor !important;
                width: 100%;
                height: 100%;
                height: max-content;
                display: block;
                //  position: relative;

                div {

                    border-radius: $globalBorderRadiusA;
                    overflow: hidden;
                    box-shadow: $globalBoxShadowA;
                    border: 1px solid #ffffff;

                    img {
                        transition: all 0.2s ease-in-out !important;

                        // transform: scale(1.0);

                        //filter: grayscale(100%);
                        @include respond-below(sm) {
                            // padding: 15px 15px 0 15px;
                        }
                    }
                }

                span {
                    display: block;
                    padding: 20px 15px;
                    text-align: center;

                    p {
                        padding: 0px;
                        width: 100%;
                        margin: 010px 0 0 0;
                        font-size: .9rem;
                        color: inherit;
                    }

                    h3 {
                        font-weight: 600;
                        margin: 0 0 0 0;
                        font-size: .9rem;
                        text-transform: uppercase;
                        letter-spacing: .03rem;
                        color: inherit;
                    }

                }
            }

            a:hover {
                text-decoration: none !important;
                color: $primaryColor !important;

                h3 {
                    text-decoration: underline;
                }

                img {
                    transform: scale(1.033);
                    filter: grayscale(0);
                }

                span {
                    // color: $primaryColor;
                    // background-color: $primaryColor;
                    //border-top: 1px solid #ffffff;

                    h3 {
                        //color: $primaryColor;
                        // color: #ffffff;
                        //text-decoration: none;
                    }
                }
            }
        }

        li:hover {
            //box-shadow: $globalBoxShadowB;
            // box-shadow: 0 0 15px 0 #a49e9e;



        }


    }
}