@import "src/styles/scss";

div.hero {

  margin: 60px 0 0 0;


  div {
    display: inline-flex;
    align-items: center;
    width: 50%;


    >svg {
      margin: 0 60px 0 0;
      vertical-align: middle;
    }

    h1 {
      font-family: 'Merriweather', serif;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 4.2rem;
      line-height: 2.4rem;
      color: $primaryColorA;
      margin: 0;

      span.introExit {
        font-size: .8rem;
        letter-spacing: .75rem;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: $txtColor;
        display: block;
        line-height: 1.8rem;
        margin: 10px 0 0 -30px;
      }

      svg {
        vertical-align: middle;
        height: 55px;
        margin: 0 -5px -10px 10px;
      }

      span {
        align-self: center;
        font-weight: 600;
        font-size: 1.8rem;
        //line-height: .0rem;
        letter-spacing: .1rem;
        font-family: 'Roboto', sans-serif;
        color: $tertiaryColor;
        text-transform: uppercase;
      }

    }
  }

  ul {
    display: inline-block;

    //align-self: flex-end;
    //align-self: stretch;
    letter-spacing: .05rem;
    text-transform: uppercase;
    list-style: none;
    font-size: .9rem;
    font-weight: 600;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    //border-top: 1px solid $primaryColor;
    //border-right: 2px solid $primaryColor;
    border-left: 2px solid $txtColor;

    li {
      a {
        color: $txtColor;
        padding: 10px 30px;
        display: inline-flex;
        position: relative;
        cursor: pointer;
      }

      a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $txtColor;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
      }

      a:hover {
        text-decoration: none;
        color: $primaryColor;
      }

      a:hover:before {
        visibility: visible;
        width: 100%;
      }
    }

    li:last-of-type {
      margin-bottom: 180px;
    }
  }

}