@import "src/styles/scss";



.sectionHeroImg {
    display: block;
    position: relative;
    background-color: $headerBgColor;
    //border-bottom: 1px solid #ffffff5a;
    padding: 63px 0 0;



    @include respond-below(sm) {
        //padding: 60px 0 0;
    }

    >span {
        margin: 0 auto 60px 60%;
        display: block;
        //display: contents;
        //display: flex;

        height: 350px;
        width: 294px;

        transition: all 0.4s;
        position: relative;
        z-index: 10003;
        pointer-events: none;
        overflow: hidden;
        // animation: fadein 4s;

        // @keyframes fadein {
        //     from {
        //         opacity: 0;
        //     }

        //     to {
        //         opacity: .2;
        //     }
        // }

        svg {
            // height: 350px;
            // width: 294px;
            top: 0px;
            left: 0px;

            width: inherit;
            height: inherit;
            display: block;

        }

        canvas,
        svg {
            position: absolute;

            //z-index: 100004;
        }

        canvas {
            opacity: .5;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;

        }

        @include respond-below(lg) {
            margin: 0 30px 0px auto;
            // height: 250px;
        }

        @include respond-below(sm) {
            margin: 0 15px 0px auto;
            height: 250px;
            width: 210px;
        }

        @include respond-below(xs) {
            margin: 0 15px 0px auto;
            //opacity: .1;
            height: 250px;
            width: 210px;
        }
    }


    @include respond-below(sm) {
        //height: 300px;
    }

    div+div {


        @include respond-below(sm) {
            // height: 300px;
        }
    }


    div.intro {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        z-index: 10004;
        pointer-events: none;

        .introWrapper {
            width: 100%;
            margin: auto 10% auto;
            align-self: center;

            @include respond-below(lg) {
                margin: auto 30px auto;
            }

            @include respond-below(md) {
                //margin: auto 30px 30px;
            }

            @include respond-below(sm) {
                //margin: 150px 15px 0px;
            }

            h1 {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: -50px;
                //transition: all 0.4s;

                @include respond-below(md) {
                    font-size: 1.2rem;
                    // margin-top: 90px;
                    margin-bottom: -37.5px;
                }

                @include respond-below(sm) {
                    // font-size: 1.1rem;

                }

                line-height: 2.7rem;
                color: #ffffff;
                //color:#2C3B4C;
                color: #99dfbe;
                //margin-bottom: 60px;
                text-align: left;


                strong {
                    font-size: 2.0rem;
                    //letter-spacing: .1rem;
                    margin: 0 0 0px 0px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    line-height: 2.8rem;
                    display: block;
                    //text-transform: uppercase;
                    animation: fadein 2s;

                    @include respond-below(sm) {
                        margin: 0;

                    }

                    @include respond-below(md) {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }

                    @include respond-below(sm) {
                        // font-size: 1.2rem;
                        line-height: 1.6rem;
                    }

                    svg {
                        vertical-align: middle;
                        width: 100px;
                        height: auto;
                        pointer-events: none;
                        animation: fadein 4s;


                        //margin: -15px 0 -40px -65px;
                        margin: -116px -30px -40px 0px;

                        @include respond-below(md) {
                            width: 75px;
                            margin: -112px -20px -50px 0px;
                        }
                    }
                }

                span {
                    animation: fadein 4s;

                    @keyframes fadein {
                        from {
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                        }
                    }
                }


            }

        }
    }
}

section.whatWeDoWrapper {
    margin-top: -60px !important;
    background-color: #efeff0;

    // background: rgb(212, 212, 212);
    // background: linear-gradient(174deg, rgba(212, 212, 212, 1) 0%, rgba(239, 239, 240, 1) 83%);

    background: rgb(65, 87, 111);
    background: linear-gradient(0deg, rgba(65, 87, 111, 1) 0%, rgba(37, 50, 64, 1) 100%);

    padding-bottom: 120px;
    text-align: center;

    @include respond-below(lg) {
        padding-bottom: 0px;
        margin-top: 0px !important;
    }

    @include respond-below(sm) {}

    div.whatWeDo {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        box-shadow: $globalBoxShadowA;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        font-size: 1.1rem;
        line-height: 1.7rem;

        @include respond-below(sm) {
            display: block;

        }

        @include respond-below(lg) {
            border-radius: 0px;
        }


    }

    div.aboutMe {
        overflow: hidden;
        width: 100%;
        margin: 0;
        position: relative;
        align-self: left;
        text-align: center;
        color: #2d1330;
        background-color: #ffcb8e;

        div {
            padding: 45px 60px 30px 60px;
            overflow: hidden;
            box-shadow: none;
            width: 50%;
            // text-align: left;
            margin-inline-end: 0px;

            @include respond-below(lg) {
                padding: 30px;
            }

            h2 {
                //text-align: center;
            }

            p {
                // text-align: center;
                //
                //line-height: 1.8rem;
            }

            h2,
            p,
            li {
                opacity: .85;
                margin-block-end: 0;
                -webkit-margin-after: 0;
            }


        }

        span {
            overflow: hidden;
            display: block;
            align-self: stretch;
            height: 100%;
            padding: 45px 60px 30px 60px;
            background-color: #2d1330;
            background: rgb(107, 52, 82);
            background: linear-gradient(180deg, rgba(107, 52, 82, 1) 0%, rgba(145, 73, 113, 1) 67%);
            font-size: 1.1rem;
            line-height: 1.6rem;
            letter-spacing: .03rem;
            text-align: left;
            border-top: 1px solid #ffffff;


            @include respond-below(lg) {
                border-top: none;
            }

            @include respond-below(lg) {
                padding: 30px;
            }

            h2,
            p,
            li {
                color: #ffffff;
                font-weight: 500;
                opacity: .85;
                margin-block-end: 0;
                -webkit-margin-after: 0;

            }

            h2 {
                text-align: center;
            }

            p:last-of-type {
                margin-bottom: 0;
            }

            ul {
                margin-bottom: 0;
                margin-block-end: 0;

                li {
                    list-style-type: square;
                    margin-top: 7.5px;
                }
            }
        }

    }

    div.technical {
        background-color: #afe7ec;
        position: relative;

        div {
            padding: 45px 60px 30px 60px;
            overflow: hidden;
            box-shadow: none;
            width: 50%;

            @include respond-below(lg) {
                padding: 30px;
            }

            h2 {
                // text-align: center;
            }

            // text-align: left;

            h2,
            p,
            li {
                opacity: .85;
                -webkit-margin-after: 0;
            }


        }



        span {
            background: rgb(192, 246, 221);
            background: radial-gradient(circle, rgba(192, 246, 221, 1) 0%, rgba(154, 223, 191, 1) 66%);
            height: auto;
            display: block;
            height: 100%;
            align-self: stretch;
            //text-align: center;
            //    font-size: 1.2rem;
            //     line-height: 1.8rem; 
            padding: 45px 60px 30px 60px;
            position: relative;

            border-top: 1px solid #ffffff;
            margin-inline-end: 0px;



            h2,
            p,
            li {
                opacity: .85;
                text-align: center;
                -webkit-margin-after: 0;

            }

            p:last-of-type,
            li:last-of-type {
                margin-bottom: 0;
            }

            @include respond-below(lg) {
                border-top: none;
            }

            @include respond-below(lg) {
                padding: 30px;
            }


            svg {

                width: 50%;
                height: auto;
                display: block;
                margin: 0px auto 30px auto;
            }

            a {
                margin: 30px auto 15px auto;
                background-color: #c34d38;
                background-color: #136b41;
            }
        }
    }

    div,
    img,
    picture {
        width: 100% !important;
        height: auto;
        // margin-bottom: -2px;
        //border: 1px solid #ffffff;
        border-bottom: none;
    }
}