$whiteText:#eff0f1;
$primaryColor: #E41B5B;
//$primaryColorA: #ED6E96;
$primaryColorA: #e098af;

$secondaryColor: #EBD956;
$secondaryColorA: #F3E896;

$tertiaryColor: #1BABE4;
$tertiaryColorA: #96D8F3;

$tertiaryAltColor: #99DFBE;
$tertiaryAltColorA: #99DFBE;
//$tertiaryColorC: #96d9df;

$ctaColorDark: #253240;

//$txtColor: #050505;
$txtColor:#233044;
$txtColorLight: #757575;

$pageBgColor: #253240;

$headerFgColor: #788fa8;
//$headerBgColor: #19181D;
$headerBgColor: #253240;

$footerFgColor: #f6f4f2;
$footerBgColor: #031223;


$altColorA: #3c5168bf;

$globalSectionPadding: 1px 0 90px 0;
$globalBorderRadiusA: 3px;
$globalBorderRadiusB: 15px;

$globalBoxShadowA: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
$globalBoxShadowB: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
$globalBoxShadowC: 0px 0px 22px 0px rgba(0, 0, 0, 0.33);

$hoverTransition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);