$whiteText:#eff0f1;
$primaryColor: #B42A76;
$primaryColorA: #BC55A5;
$secondaryColor: #F5B121;
$secondaryColorA: #C6756D;
$tertiaryColor: #1AACE5;
$tertiaryColorA: #53a3c1;
$tertiaryColorC: #96d9df;

$ctaColorDark: #253240;

$txtColor: #19181D;

$pageBgColor: #253240;

$headerFgColor: #788fa8;
//$headerBgColor: #19181D;
$headerBgColor: #253240;

$footerFgColor: #f6f4f2;
$footerBgColor: #031223;


$altColorA: #3c5168bf;

$globalSecionPadding: 45px 0 90px 0;
$globalBorderRadiusA: 3px;
$globalBorderRadiusB: 15px;

$globalBoxShadowA: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
$globalBoxShadowB: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);

$hoverTransition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);