@import "src/styles/scss";

.footer {
  position: relative;
  //width: 100%;

  >svg {
    position: absolute;

    //

    left: 0px;
    right: 0px;

    width: 100% !important;
    top: -50px;
    height: 50px !important;

    @include respond-below(md) {
      top: -25px;
      height: 25px !important;
    }

  }

  //border-top: 1px solid $headerBgColor;
  color: #f6f4f2;
  padding: 120px 60px 120px 60px;
  background-color: $footerBgColor;
  text-align: center;

  a {
    z-index: 100 !important;
    position: relative;


    span {
      display: none;
    }
  }

  svg {

    width: auto;
    height: 40px;
  }

  p {
    font-size: .9rem;
    color: $footerFgColor;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 100 !important;
    position: relative;
  }

  p+p {
    font-size: .8rem;
    color: $tertiaryColorA;
    color: #ffffff;
    line-height: 1.0rem;
  }
}