@import "src/styles/scss";


header.header-nav-wrapper {
  display: flex !important;
  position: fixed;
  flex-direction: row;
  border-bottom: 1px solid #ffffff5a;
  //justify-content: space-between;
  //justify-content: flex-end;
  background-color: $headerBgColor;
  width: 100%;
  z-index: 1000;
  transition: top 0.4s;
  /* Transition effect when sliding down (and up) */
  // background-color: #ffffff;

  a {
    margin: 0;
    display: flex;
    z-index: 1003;
    //width: 100%;



    svg {
      // background-color: #ffffff94;
      // background-color: $headerBgColor;
      // padding: 15px 25px 10px 25px;
      padding: 15px;
      height: 60px;
      width: auto;
      // border: 1px solid #ffffff94;
      // border-top: none;
      // border-left: none;
      // border-right: none;
      // border-bottom: none;
    }
  }

  div.header-nav {
    z-index: 99;
    z-index: 1001;


    min-width: 130px;

    background-color: $headerBgColor;
    // max-width: 960px;
    // border: 1px solid #ffffff94;
    // border-top: none;
    transition: all .25s linear;

    // border-right: none;

    .hamburgerContainer {
      position: absolute;
      display: flex;
      align-self: center;
      padding: 5px 15px;
      height: 60px;
      right: 0px;
      border: none;




      button {
        align-self: center;
      }

      h1 {
        margin: 0;

        a {
          color: #ffffff;

        }
      }
    }

    ul {
      display: none;
      // visibility: hidden;
      // opacity: 0;
      // transition: visibility 0s, opacity 1.5s linear;
    }
  }

  div.header-nav.open {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100vh;
    max-width: 100%;
    border: none;

    ul {
      display: block;
      // visibility: visible;
      // opacity: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      top: 80px;
      position: absolute;
      right: 30px;


      li {


        a {
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: #ffffff;
          opacity: 85%;
          padding: 10px 0;
          position: relative;
          width: fit-content;
          float: right;

        }

        a:hover {
          //text-decoration: underline !important;
        }

        a:after {
          content: '';
          position: absolute;
          bottom: 5px;
          display: block;
          background: $primaryColor;
          background: #ffffff;
          height: 1px;
          width: 0;
          transition: width 150ms ease-in-out;
        }


        a:hover:after {
          width: 100%;
        }
      }
    }
  }
}