@import "src/styles/scss";

.container {
    margin: 0px 0 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;

    main {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
}