@import "src/styles/scss";

.wrapper {
    background-color: #ffffff;
    padding: $globalSectionPadding;

    @include respond-below(lg) {
        //  padding: 45px 0 5px 0;
    }

    h1 {
        text-align: center;
        line-height: normal;
        margin: 45px 0;
    }

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto;
        @include masonryGrid;

        a.item {
            display: block;
            position: relative;
            height: max-content;
            transition: all 0.2s ease-in-out;
            z-index: 5;
            width: 100%;
            color: $txtColor;
            margin-bottom: 64px;

            display: block;

            span {
                display: block;
                padding: 16px 4px;
                text-align: left;
                border-top: 4px solid $tertiaryColor;

                @include respond-below(lg) {
                    padding: 16px 16px;
                }

                i {
                    margin-left: auto;
                    color: $tertiaryColor
                }

                h3 {
                    margin: 0 0 10px 0;
                    font-family: 'Crimson Pro', sans-serif;
                    font-weight: 900;
                    color: inherit;
                    display: flex;
                    width: 100%;
                    align-items: center;
                }

                p {
                    padding: 0px;
                    width: 100%;
                    margin: 0;
                    font-size: .9rem;
                    line-height: 1.2rem;
                    color: inherit;
                }

                span {
                    margin-top: 15px;
                    padding: 15px 0;
                    border-top: 1px solid #b8b8b8;
                    //border-bottom: 1px solid #b8b8b8;

                    p {
                        font-size: 1.1rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }

        a:hover {
            text-decoration: none;

            span {
                // color: $primaryColor;
                border-top: 4px solid $primaryColor;

                i {
                    color: $primaryColor
                }

                p {
                    color: initial;
                }

                span {
                    p {
                        color: $primaryColor;
                    }

                    //border-top: 1px solid $primaryColor;
                    // border-bottom: 1px solid $primaryColor;
                }

            }
        }
    }
}