@import "src/styles/scss";

section.sectionProject {
    .sectionProjectWrapper {
        max-width: 992px;
        margin: 100px auto;

        .content {
            padding: 0 15px;

            .header {
                display: flex;
                border-bottom: 1px solid $tertiaryColor;
                align-items: center;
                margin-bottom: 32px;

                h1 {
                    margin-bottom: 5px;
                }

                p {
                    line-height: 1.3rem;
                    margin-bottom: 15px;
                    padding: 0 0 0 16px;
                    font-size: .9rem;
                    margin-left: auto;
                    text-align: right;
                    white-space: nowrap;
                    color: $txtColorLight;
                }
            }

            .contentInner {

                .contentMD {
                    display: flex;
                    flex-direction: row;
                    align-self: flex-start;
                    max-width: 760px;
                    margin: 0 auto;

                    @include respond-below(md) {
                        flex: none;
                        display: block;
                    }

                    div {
                        align-items: stretch;
                        align-self: flex-start;
                        flex: 1;
                        position: sticky;
                        top: 105px;
                        margin-right: 15px;
                        padding-top: 15px;

                        ul li {
                            margin-bottom: 15px;
                        }

                        @include respond-below(md) {
                            position: relative;
                            top: 0;
                            width: 100%;
                            flex: none;
                            display: block;
                        }

                        >div {
                            width: 150px;

                            p {

                                span {
                                    box-shadow: none !important;
                                    border-radius: 0;
                                }
                            }
                        }

                        h3 {
                            margin-bottom: 16px;
                            font-family: "Crimson Pro", serif;
                        }

                        p,
                        ul li,
                        ol li {
                            margin: 15px 0 10px 0;
                            text-align: left;
                            line-height: 1.8rem;
                            position: relative;
                            //overflow-x: visible;

                            >span {
                                //border-radius: $globalBorderRadiusA;
                                overflow: hidden;
                                background-color: #ffffff;
                                border: 1px solid #ffffff;
                                box-shadow: 0 0 15px 0 #61616177;
                                margin: 48px 0;
                                position: relative;
                                // left: -64px;
                                // right: -64px;

                                // max-width: 150%;
                                width: 100%;
                                //max-width: fit-content;

                                img {
                                    display: block;


                                    width: 100%;
                                    height: auto !important;
                                }
                            }
                        }

                        p:last-of-type {
                            font-weight: bold;
                            margin: 15px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}